.resources__link {
  text-decoration: none;
  color: #2f80ed;
  z-index: 999;
  -webkit-transition: opacity .15s ease;
  -moz-transition: opacity .15s ease;
  -ms-transition: opacity .15s ease;
  -o-transition: opacity .15s ease;
  transition: opacity .15s ease;

}

.resources__link:hover {
  opacity: .65;

}
