.footer__column-link {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  z-index: 999;
  -webkit-transition: opacity .15s ease;
  -moz-transition: opacity .15s ease;
  -ms-transition: opacity .15s ease;
  -o-transition: opacity .15s ease;
  transition: opacity .15s ease;

}

.footer__column-link:hover {
  opacity: .65;

}
