.feynman__link {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #000;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 999;
  -webkit-transition: opacity .15s ease;
  -moz-transition: opacity .15s ease;
  -ms-transition: opacity .15s ease;
  -o-transition: opacity .15s ease;
  transition: opacity .15s ease;

}

.feynman__link:hover {
  opacity: .65;

}
