.root__link_transition_opacity {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}


.root__link_transition_opacity:hover {
  opacity: .65;
}
