.khan__buy-link {
  display: flex;
  align-items: flex-start;
  width: auto;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  margin-left: 48px;
  text-decoration: none;
  color: #2f80ed;
  -webkit-transition: opacity .15s ease;
  -moz-transition: opacity .15s ease;
  -ms-transition: opacity .15s ease;
  -o-transition: opacity .15s ease;
  transition: opacity .15s ease;

}

.khan__buy-link:hover {
  opacity: .65;

}
